<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03-4. 웹 페이지의 배경 꾸미기</title>
    <link rel="stylesheet" href="/css/03.style.css">
    <script src="https://kit.fontawesome.com/4ec99819c4.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>03장. css 기본 문법 빠르게 끝내기</h1>
    <h2>03-4. 웹 페이지에서 영역별 크기 정하기</h2>
    <hr>
    <h3>[배경 이미지 삽입하기]</h3>
    <section class="section1"></section><br>
    <section class="section2"></section>

    <br>
    <h3>[두 배경 이미지를 웹 브라우저에 고정하기]</h3>
    <section class="img-fix">
        <article></article>
        <article></article>
    </section>

</body>
</html>