<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>04-4. 벡터 이미지 파일 제어하기</title>
    <link rel="stylesheet" href="/css/04장/style.css">
    <link rel="stylesheet" href="/css/04장/04-4.css">
</head>
<body>
    <h1>04장. 인터랙티브 웹을 위한 css 다루기</h1>
    <h2>04-4. 벡터 이미지 파일 제어하기</h2><br>

    <table class="script">
        <thead class="script">
            <tr>
                <th>비트맵 이미지</th>
                <th>벡터 이미지</th>
            </tr>
        </thead>
        <tbody class="script">
            <tr>
                <td>수많은 픽셀을 조합해 이미지 출력</td>
                <td>좌푯값을 연결하여 이미지 출력</td>
            </tr>
            <tr>
                <td>확대하면 이미지 품질 저하</td>
                <td>확대해도 이미지 품질 저하X</td>
            </tr>
            <tr>
                <td>파일 용량이 큼</td>
                <td>비트맵 이미지보다 파일 용량이 작음</td>
            </tr>
        </tbody>
    </table>

    
</body>
</html>