<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>05-1. 부모 요소에 flex 적용하기</title>
    <link rel="stylesheet" href="/css/05장/style.css">
    <link rel="stylesheet" href="/css/05장/05-1.css">
</head>
<body>
    <h1>05장. flex 방식으로 레이아웃 만들기</h1>
    <h2>05-1. 부모 요소에 flex 적용하기</h2><br>

    <main>
        <section>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
        </section>
    </main>
</body>
</html>