<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>06-4. 자바스크립트로 이벤트 연결하기</title>
    <link rel="stylesheet" href="/css/06장/style.css">
    <link rel="stylesheet" href="/css/06장/06-4.css">
</head>
<body>
    <h1>6장. 자바스크립트로 웹 페이지 제어하기</h1>
    <h2>06-4. 자바스크립트로 이벤트 연결하기</h2>

    <h3>[클릭 이벤트 연결하기]</h3>
    <a href="https://www.naver.com">click</a>
    
    <h3>[호버 이벤트 연결하기]</h3>
    <div id="box"></div>
    
    <h3>[반복되는 요소에 이벤트 한꺼번에 연결하기]</h3>
    <ul class="list">
        <li><a href="#">itme1</a></li>
        <li><a href="#">itme2</a></li>
        <li><a href="#">itme3</a></li>
        <li><a href="#">itme4</a></li>
    </ul>
    
    <h3>[클릭 이벤트가 발생할 때 숫자를 증가, 감소하기]</h3>
    <a href="#" class="btnPlus">plus</a>
    <a href="#" class="btnMinus">minus</a>
    
    <h3>[클릭하면 좌우로 회전하는 박스 만들기]</h3>
    <a href="#" class="btnLeft">왼쪽으로 회전</a>  / 
    <a href="#" class="btnRight">오른쪽으로 회전</a>
    <div id="turn-box"></div>



    <script type="text/javascript" src="/js/06-4.js"></script>
</body>
</html>