<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>06-6. 함수를 활용하여 코드 패키징하기</title>
    <link rel="stylesheet" href="/css/06장/style.css">
    <link rel="stylesheet" href="/css/06장/06-6.css">
</head>
<body>
    h1>6장. 자바스크립트로 웹 페이지 제어하기</h1>
    <h2>06-6. 함수를 활용하여 코드 패키징하기</h2>

    <h3>[활성화 기능 함수 정의하고 사용하기]</h3>
    <ul class="btns">
        <li class="on"><button>button1</button></li>
        <li><button>button2</button></li>
        <li><button>button3</button></li>
    </ul>
    <section>
        <article class="on">Box1</article>
        <article>Box2</article>
        <article>Box3</article>
    </section>


    <script type="text/javascript" src="/js/06-6.js"></script>
</body>
</html>