<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6장. 자바스크립트로 웹 페이지 제어하기</title>
    <link rel="stylesheet" href="/css/06장/style.css">
    <link rel="stylesheet" href="/css/06장/06-7.css">
</head>
<body>
    <h1>6장. 자바스크립트로 웹 페이지 제어하기</h1>
    <h2>06-7. HTML 요소의 속성값 제어하기</h2>
    
    <h3>[속성값 알아내기/변경하기]</h3>
    <a href="https://www.naver.com">네이버</a>
    <hr>

    <h2>06-8. HTML 요소의 속성값 제어하기</h2>
    <h3>[사용자 브라우저 판별하기]</h3>
    <p>
    => 크롬, 엣지, 웨일 브라우저에는 비슷한 정보가 공통으로 들어있는데 그 이유는 모두 같은 브라우저 엔진을 사용하기 때문. <br>
       
    </p>




    <script type="text/javascript" src="/js/06-7.js"></script>
</body>
</html>