@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
table, th, td{
    border: 0.5px solid lightgrey;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 12px;
}