article{
    width: 200px; 
    height: 200px;
    background-color: pink;
    margin: 100px auto;
}

@media screen and (max-width:900px) {
    article{
        background-color: skyblue;
    }
}

@media screen and (max-width:400px) {
    article{
        background-color: plum;
    }
}