@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Myeongjo&display=swap');
a{
    font-size: 30px;
    color: pink;
    text-decoration-line: none;
    font-family: 'Nanum Myeongjo';
    font-weight: 800;
}

#box{
    width: 200px;
    height: 200px;
    background: pink;
    margin: 10px;
}

#turn-box{
    width: 200px;
    height: 200px;
    background: #e0c0ff;
    margin: 50px;
    transition: 0.5s;
}