<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03-6 웹 페이지의 레이아웃 구성하기</title>
    <link rel="stylesheet" href="/css/03-6.css">
</head>
<body>
    <h1>03장. css 기본 문법 빠르게 끝내기</h1>
    <h2>03-6. 웹 페이지의 레이아웃 구성하기</h2><br>
    <hr><br>
    <h3>[css 초기화]</h3>
    <article>
        <ul>
            <li>list</li>
            <li>list</li>
        </ul>
        <a href="#">link</a>
    </article>

    <br>
    <h3>[float-블록 요소 좌우로 배치]</h3>
    <div class="wrap">
        <section class="left"></section>
        <section class="right"></section>
    </div>
    <br>
    <h3>[position-요소 자유롭게 배치하기]</h3>
    <div class="wrap3">
        <section class="position-1"></section>
        <section class="position-2"></section>
    </div>
    <div class="wrap2">
        <div class="div-left"></div>
        <div class="div-right">
            <p class="box"></p>
        </div>
        <div class="div-bottom"></div>
    </div>
</body>
</html>