<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03-7. 다양한 그래픽 효과 적용하기</title>
    <link rel="stylesheet" href="/css/03-7.css">
</head>
<body>
    <h1>03장. css 기본 문법 빠르게 끝내기</h1>
    <h2>03-7. 다양한 그래픽 효과 적용하기</h2><br>
    <div class="div-wrap">
        <h3>[box-shadow, text-shadow 요소의 그림자 만들기]</h3>
        <p>HELLO HI</p>
        <div class="box1"></div>
        <div class="box2"></div>
    </div>

    <div class="div-wrap2">
        <h3>[border-radius 모서리 둥글게 만들기]</h3>
        <div class="box3"></div>
        <div class="box4"></div>
    </div>
</body>
</html>