<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>04-2. 사용자 행동에 반응하는 전환 효과 만들기</title>
    <link rel="stylesheet" href="/css/04장/style.css">
    <link rel="stylesheet" href="/css/04장/04-2.css">
</head>
<body>
    <h1>04장. 인터랙티브 웹을 위한 css 다루기</h1>
    <h2>04-1. 사용자 행동에 반응하는 전환 효과 만들기</h2><br>

    <table class="script">
        <thead class="script">
            <tr>
                <th>속성명</th>
                <th>속성값</th>
                <th>설명</th>
            </tr>
        </thead>
        <tbody class="script">
            <tr>
                <td>transition-property</td>
                <td>속성명</td>
                <td>전환 효과를 줄 css 속성명을 지정. 속성명은 여러개 지정 가능하고 all 입력 시 전체 속성 사용</td>
            </tr>
            <tr>
                <td>transition-duration</td>
                <td>지속 시간(초)</td>
                <td>전환 효과가 발생할 때 지속할 시간</td>
            </tr>
            <tr>
                <td>transition-delay</td>
                <td>지연 시간(초)</td>
                <td>전환 효과가 발생할 때 지연할 시간. 이 효과 사용 시 지연 시간 이후 전환 효과 나타남</td>
            </tr>
            <tr>
                <td>transition-timing-function</td>
                <td>가속도</td>
                <td>전환 효과의 가속도 나타냄
                    - linear : 등속 효과
                    - ease : 가속 효과
                    - ease-in : 모션 시작 시 가속
                    - ease-out : 모션 종료 시 가속
                    - ease-in-out : 모션 시작, 종료 시 가속
                    - cubic-bezier : 사용자가 지정한 가속 효과 적용 (<a href="https://cubic-bezier.com">속성값 사이트</a>)
                </td>
            </tr>
            <tr>
                <td>transition</td>
                <td>속성명/전환시간/가속도/지연시간</td>
                <td>모든 전환 효과 관련 속성값 한번에 축약</td>
            </tr>
        </tbody>
    </table>

    <section>
        <article></article>
    </section>
</body>
</html>