<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>04-3. 자동으로 움직이는 애니메이션 효과 만들기</title>
    <link rel="stylesheet" href="/css/04장/style.css">
    <link rel="stylesheet" href="/css/04장/04-3.css">
</head>
<body>
    <h1>04장. 인터랙티브 웹을 위한 css 다루기</h1>
    <h2>04-3. 자동으로 움직이는 애니메이션 효과 만들기</h2><br>

    <table class="script">
        <thead class="script">
            <tr>
                <th>속성명</th>
                <th>속성값</th>
                <th>설명</th>
            </tr>
        </thead>
        <tbody class="script">
            <tr>
                <td>@keyframes</td>
                <td>애니메이션 세트 지정</td>
                <td>애니메이션의 시작과 끝 등록하여 사용자 모션 등록. 시작:0%, 끝:100%, 중간 지점 여러 개 추가 가능. 
                    <br>단계별로 동작 방식 지정해서 특정 이름 붙여 키프레임 등로 가능</td>
            </tr>
            <tr>
                <td>animation-name</td>
                <td>이름</td>
                <td>키프레임으로 등록한 모션의 이름 호출</td>
            </tr>
            <tr>
                <td>animation-duration</td>
                <td>지연 시간(초)</td>
                <td>키프레임 모션 한 세트를 얼마나 동작할지 초단위로 등록</td>
            </tr>
            <tr>
                <td>animation-timing-fuction</td>
                <td>가속도</td>
                <td>키프레임 모션 실행할 때 가속도 설정 (<a href="https://cubic-bezier.com">속성값 사이트</a>)
                </td>
            </tr>
            <tr>
                <td>animation-iteration-count</td>
                <td>횟수</td>
                <td>키프레임 모션 한 세트가 몇 번 동작하는지 횟수를 숫자로 설정. infinite : 무한</td>
            </tr>
            <tr>
                <td>animation-delay</td>
                <td>지연 시간(초 단위)</td>
                <td>키프레임 모션을 실행할 때 지연 시간 지정</td>
            </tr>
            <tr>
                <td>animation-play-state</td>
                <td>running/paused</td>
                <td>키프레임 모션을 실행할 때 동작 상태 지정. running : 모션 그대로, paused : 일시정지</td>
            </tr>
            <tr>
                <td>animation</td>
                <td>이름/진행시간/가속도/지연시간/반복횟수</td>
                <td>애니메이션 속성 축약하여 작성</td>
            </tr>
        </tbody>
    </table>

    <article></article>
</body>
</html>