<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6장. 자바스크립트로 웹 페이지 제어하기</title>
    <link rel="stylesheet" href="/css/06장/06-1.css">
    <link rel="stylesheet" href="/css/06장/style.css">
    <script type="text/javascript" src="/js/06-1.js"></script> 

    <script>
        console.log('Hi Hello!')
    </script>
</head>
<body>
    <h1>6장. 자바스크립트로 웹 페이지 제어하기</h1>
    <h2>06-1. 자바스크립트 시작하기</h2><br>

    <h4 id="title">HELLO WORLD</h4>
</body>
</html>