<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>06-5. 자바스크립트로 클래스 제어하기</title>
    <link rel="stylesheet" href="/css/06장/style.css">
    <link rel="stylesheet" href="/css/06장/06-5.css">
    
</head>
<body>
    <h1>6장. 자바스크립트로 웹 페이지 제어하기</h1>
    <h2>06-5. 자바스크립트로 클래스 제어하기</h2>

    <section id="wrap">
        <article></article>
    </section>



    <script type="text/javascript" src="/js/06-5.js"></script>
</body>
</html>